// Color variables
// - General colors
$color-black: rgb(0, 0, 0);
$color-white: #fff;
$color-grey-light: #D6D8E6;
$color-grey: #b3b4bd;

// - Matrix colors
$color-matrix-green: #31D0AA;
$color-matrix-red: #EF436C;
$color-matrix-dark-grey: #6E7191;
$color-matrix-grey: #D6D8E6;
$color-matrix-yellow: #FFBF10;

