<template>
  <div class="matrix-cell">
    <div class="matrix-cell__body">
      <MatrixCellAnchor 
        v-if="!cellData.status"
        @handleClick="handleAnchorClick"
      />
    </div>
  </div>
</template>

<script>
import MatrixCellAnchor from './MatrixCellAnchor.vue';

export default {
  name: 'MatrixCell',
  components: {
    MatrixCellAnchor
  },
  props: {
    cellData: {
      type: Object,
      required: true,
    },
    impact: {
      type: Number,
      required: true
    },
    unknown: {
      type: Number,
      required: true
    }
  },
  methods: {
    handleAnchorClick() {
      console.log(this.impact, this.unknown);
    }
  }
}
</script>

<style lang="scss" scoped>
  .matrix-cell {
    width: calc(100% / 21);
    box-sizing: border-box;
    position: relative;
    z-index: 2;
    
    &:after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }

    &:before {
      content: "";
      width: 1px;
      height: 1px;
      border-radius: 100%;
      background-color: #7f8088;
      position: absolute;
      left: 50%;
      top: 50%;
      z-index: 1;
    }

    &__body {
      z-index: 2;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
    }
  }
</style>
