<template functional>
  <button 
    @click="listeners['handleClick']()"
    class="matrix-cell-anchor" 
  >
    <span class="matrix-cell-anchor__button"></span>
  </button>
</template>

<script>
export default {
  name: 'MatrixCellAnchor',
}
</script>

<style lang="scss" scoped>
  .matrix-cell-anchor {
    cursor: pointer;
    width: 100%;
    height: 100%;

    &:hover {
      .matrix-cell-anchor__button {
        opacity: 1;
        visibility: visible;
      }
    }

    &__button {
      display: inline-block;
      width: 24px;
      height: 24px;
      background: linear-gradient(#737373, #737373), linear-gradient(#737373, #737373);
      background-position: center;
      background-size: 50% 2px, 2px 50%;
      background-repeat: no-repeat;
      box-shadow: 0px 0px 2px 0px rgb(173 173 173);
      border-radius: 100%;
      opacity: 0;
      visibility: hidden;
    }
  }
</style>