<template>
  <div id="app">
    <Matrix 
      :matrixData="matrixData"
      :settings="{
        yLength: 11,
        xLength: 21
      }"
    />
  </div>
</template>

<script>
import Matrix from './components/matrix/Matrix.vue'

export default {
  name: 'App',
  components: {
    Matrix
  },
  data() {
    return {
      matrixData: [
        {
          "title": "16",
          "status": "INVALIDATED",
          "impact": 7,
          "unknown": 9
        },
        {
          "title": "15",
          "status": "TO_BE_TESTED",
          "impact": 8,
          "unknown": 2.5
        },
        {
          "title": "14",
          "status": "NEEDS_MORE_EVIDENCE",
          "impact": 8,
          "unknown": 5
        },
        {
          "title": "13",
          "status": "TO_BE_TESTED",
          "impact": 2,
          "unknown": 5
        },
        {
          "title": "12",
          "status": "INVALIDATED",
          "impact": 0,
          "unknown": 9
        },
        {
          "title": "11",
          "status": "VALIDATED",
          "impact": 2,
          "unknown": 7.5
        },
        {
          "title": "10",
          "status": "IRRELEVANT",
          "impact": 3,
          "unknown": 6
        },
        {
          "title": "9",
          "status": "VALIDATED",
          "impact": 2,
          "unknown": 3.5
        },
        {
          "title": "8",
          "status": "INVALIDATED",
          "impact": 1,
          "unknown": 2
        },
        {
          "title": "7",
          "status": "TO_BE_TESTED",
          "impact": 3,
          "unknown": 0.5
        },
        {
          "title": "6",
          "status": "VALIDATED",
          "impact": 7,
          "unknown": 9
        },
        {
          "title": "5",
          "status": "VALIDATED",
          "impact": 9,
          "unknown": 7.5
        },
        {
          "title": "4",
          "status": "TO_BE_TESTED",
          "impact": 7,
          "unknown": 6
        },
        {
          "title": "3",
          "status": "VALIDATED",
          "impact": 9,
          "unknown": 4
        },
        {
          "title": "2",
          "status": "INVALIDATED",
          "impact": 8,
          "unknown": 2.5
        },
        {
          "title": "1",
          "status": "IRRELEVANT",
          "impact": 9,
          "unknown": 1
        }
      ]
    }
  }
}
</script>

<style lang="scss">
  @import "./assets/scss/reset";

  #app {
    padding: 25px;
    min-height: 100vh;
    min-width: 100vh;
    background-color: #f8f7fd;
  }
</style>
