<template>
  <div>
    <div class="matrix">
      <div class="matrix__grid">
        <template v-for="(row, rowIndex) in matrixGrid">
          <MatrixCell 
            v-for="(cell, cellIndex) in row"
            :key="`cell-${rowIndex}-${cellIndex}`"
            :cellData="cell"
            :impact="rowIndex"
            :unknown="cellIndex"
          />
        </template>
      </div>
    </div>
    <MatrixLegend />
  </div>
</template>

<script>
import MatrixLegend from './MatrixLegend.vue';
import MatrixCell from './MatrixCell/MatrixCell.vue';

export default {
  name: 'Matrix',
  components: {
    MatrixCell,
    MatrixLegend
  },
  props: {
    matrixData: {
      type: Array,
      required: false,
      default: () => []
    },
    settings: {
      type: Object,
      required: false,
      default: () => ({
        yLength: 11,
        xLength: 21
      })
    }
  },
  data() {
    return {
      matrixGrid: []
    }
  },
  mounted() {
    this.generateMatrix();
  },
  methods: {
    /**
     * Generates a two dimensional array for rending the matrix 
     */
    generateMatrix() {
      const { xLength, yLength } = { ...this.settings };
      let matrix = new Array(yLength);

      for (let i = 0; i < matrix.length; i++) {
        matrix[i] = new Array(xLength);
        matrix[i].fill({});
      }

      this.setMatrixData(matrix);
    },

    /**
     * Add matrix data to matrix
     */
    setMatrixData(matrix) {
      this.matrixData.forEach(cell => {
        const fixedUnkown = cell.unkown * 2; // Sorry this is really ugly work around
        matrix[cell.impact][fixedUnkown] = cell;
      });

      this.matrixGrid = matrix;
    }
  }
}
</script>

<style lang="scss" scoped>
  .matrix {
    width: 100%;
    border: 1px solid $color-grey-light;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 10px;
    position: relative;

    &__grid {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      z-index: 3;
      position: relative;

      &:after {
      content: "";
      z-index: 1;
      width: calc(50% + 9px);
      height: calc(50% + 10px);
      background-color: $color-white;
      right: -10px;
      top: -10px;
      position: absolute;
      z-index: 1;
      border-radius: 0 6px 0 0;
      }
    }

    &:after {
      content: "";
      height: 100%;
      width: 1px;
      position: absolute;
      left: 50%;
      top: 0;
      background-color: $color-grey;
      z-index: 2;
    }

    &:before {
      content: "";
      width: 100%;
      height: 1px;
      position: absolute;
      left: 0;
      top: 50%;
      background-color: $color-grey;
      z-index: 2;
    }
  }
</style>
