<template>
  <ul class="matrix-legend">
    <li class="matrix-legend__item dark-grey">
      <span class="matrix-legend__item__dot"></span>
      To be tested
    </li>
    <li class="matrix-legend__item red">
      <span class="matrix-legend__item__dot"></span>
      Invalidated
    </li>
    <li class="matrix-legend__item green">
      <span class="matrix-legend__item__dot"></span>
      Validated
    </li>
    <li class="matrix-legend__item yellow">
      <span class="matrix-legend__item__dot"></span>
      Needs for evidence
    </li>
    <li class="matrix-legend__item grey">
      <span class="matrix-legend__item__dot"></span>
      Irrelevant
    </li>
  </ul>
</template>

<style lang="scss" scoped>
  .matrix-legend {
    width: 100%;
    margin-top: 20px;

    &__item {
      display: inline-block;
      margin-right: 35px;
      font-size: 12px;
      letter-spacing: .25px;
      color: #757683;

      &.dark-grey {
        .matrix-legend__item__dot {
          background-color: $color-matrix-dark-grey;
        }
      }

      &.grey {
        .matrix-legend__item__dot {
          background-color: $color-matrix-grey;
        }
      }

      &.red {
        .matrix-legend__item__dot {
          background-color: $color-matrix-red;
        }
      }
    
      &.green {
        .matrix-legend__item__dot {
          background-color: $color-matrix-green;
        }
      }
      
      &.yellow {
        .matrix-legend__item__dot {
          background-color: $color-matrix-yellow;
        }
      }

      &__dot {
        width: 14px;
        height: 14px;
        border-radius: 100%;
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
      }
    }
  }
</style>